<!DOCTYPE html>
<html>
<head>
    <title>
        this is my web site
       
    </title>
    <link rel="stylesheet" href="css/style.css">
</head>
    <body>
        <header >
            <h1> Library</h1>
        </header>
        <section>
            <nav>
                <ul>
                    <li><a href="#">Dhaka</a></li>
                    <li><a href="#">Thakurgaon</a></li>
                    <li><a href="#">Rngpur</a></li>
                </ul>
            </nav>
            <article>
             
                <h1>Dhaka</h1>
                <p>The history of Dhaka begins with the existence of urbanised settlements in the area that is now Dhaka dating from the 7th century CE. ... In 1947, Dhaka became the capital of the East Bengal province under the Dominion of Pakistan. After the independence of Bangladesh in 1971, Dhaka became the capital of the new state.</p>
                <h1>Thakurgaon</h1>
                <p>During British rule Thakurgaon was a tehsil (a district subdivision). In 1947 at the time of the Partition of India, Thakurgaon Subdivision became part of the newly established Dinajpur District of East Bengal. In 1984 Takurgaon subdivision was split off Dinajpur and became a separate district</p>
                <h1>Rangpur</h1>
                <p>Rangpur was declared a district headquarters on 16 December 1769, and established as a municipality in 1869, making it one of the oldest municipalities in Bangladesh. The municipal office building was erected in 1892 under the precedence Raja Janaki Ballav, Sen. Chairman of the municipality.</p>
            </article>
        </section>
        <footer>
            <h1>Footer</h1>
        </footer>
    </body>
</html>
